

body {
    width:1440px;
    height:790px;
    background:hsl(0, 0%, 8%);
    margin-top:175px;
}

.container {
    width:385px;
    height:613px;
    margin-left: auto;
    margin-right: auto;
    border-radius:8px;
    background:hsl(0, 0%, 12%);
    overflow:hidden;

}
  
  .pic {
    width:90px;
    height:90px;
    border-radius:45px;
    position:relative;
    left:150px;
    top:41px;
  }

a {
 text-decoration:none;
  text-align:center;
  font-family:Inter;
  color:hsl(0, 0%, 100%);
}

a:hover {
  color:black;
  cursor:pointer;
}

.button-1:hover {
  background:hsl(75, 94%, 57%);
  cursor:pointer;
}
.button-2:hover {
  background:hsl(75, 94%, 57%);
  cursor:pointer;
  }
.button-3:hover {
  background:hsl(75, 94%, 57%);
  cursor:pointer;
  }
.button-4:hover {
  background:hsl(75, 94%, 57%);
  cursor:pointer;
  }

.button-5:hover {
  background:hsl(75, 94%, 57%);
  cursor:pointer;
}
  
h1 {
  font-family:Inter;
  color:hsl(0, 0%, 100%);
  text-align:center;
  font-size:23px;
  position:relative;
  top:49px;
  font-weight:500;
}

.loc {
  color:hsl(75, 94%, 57%);
  font-family:Inter;
  font-size:14px;
  text-align:center;
  position:relative;
  top:43px;
  font-weight:500;
  
}

.info {
  color: hsl(0, 0%, 100%);
  font-family:Inter;
  font-size:14px;
  font-weight:300;
  text-align:center;
  position:relative;
  top:57px;
}


  .button-1 {
  width:305px;
  height:45px;
  background:hsl(0, 0%, 20%);
      margin-left:auto;
    margin-right:auto;
    border-radius:10px;
    position:relative;
    top:68px;
    font-size:14px;
    font-weight:700;
    
  }
  
  .button-2 {
  width:305px;
  height:45px;
  background:hsl(0, 0%, 20%);
  margin-left:auto;
  margin-right:auto;
  border-radius:10px;
  position:relative;
    top:33px;
    font-size:14px;
    font-weight:700;
  }
  .button-3 {
  width:305px;
  height:45px;
  background:hsl(0, 0%, 20%);
      margin-left:auto;
    margin-right:auto;
        border-radius:10px;
    position:relative;
    top:-1px;
    font-size:14px;
    font-weight:700;
   
  }

  .button-4{
  width:305px;
  height:45px;
  background:hsl(0, 0%, 20%);
  margin-left:auto;
  margin-right:auto;
   border-radius:10px;
    position:relative;
    top:-35px;
    font-size:14px;
    font-weight:700;
  }

  .button-5 {
  width:305px;
  height:45px;
  background:hsl(0, 0%, 20%);
  margin-left:auto;
  margin-right:auto;
  border-radius:10px;
  position:relative;
  top:-50px;
    font-size:14px;
    font-weight:700;
  }

p {
  text-align:center;
  align-items:center;
  justify-content:center;
  
}

.one {
  position:relative;
  top:14px;
}

.two {
  position:relative;
  top:15px;
}

.three {
  position:relative;
  top:15px;
}

.four {
  position:relative;
  top:15px;
}

.five {
  position:relative;
  top:14px;
}

 @media (max-width:475px) {
  
  body {
      margin: 0 auto;
      padding: 0 auto;
      width:375px;
      height:670px;
  }
  
   .container {
    height:620px;
    width:345px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    margin-top:60px;
   }
   
   .pic {
     position:relative;
     left:125px;
   }
}
